<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="virgil:AppID" value="ed5da0d6bbc11967fa14b31e48ce54a78f9d7bd8d731c007e5e541c987d57019" />
    <add key="virgil:AppAccessToken" value="AT.da96dc5961ea533cd661fd542d93c32f7963ccbd61e0c29ab2e71e012fcd7f13" />
    <add key="virgil:AppKeyPath" value="C:\Users\Vasilina\Documents\app.virgilkey" />
    <add key="virgil:AppKeyPassword" value="123456" />
    <add key="virgil:IdentityServiceAddress" value="https://identity-stg.virgilsecurity.com" />
    <add key="virgil:CardsServicesAddress" value="https://cards-stg.virgilsecurity.com" />
    <add key="virgil:RAServicesAddress" value="https://ra-stg.virgilsecurity.com" />
    <add key="virgil:AuthServicesAddress" value="https://auth-stg.virgilsecurity.com" />
    <add key="virgil:CardsReadServicesAddress" value="https://cards-ro-stg.virgilsecurity.com" />
    <add key="virgil:ServiceCardId" value="e680bef87ba75d331b0a02bfa6a20f02eb5c5ba9bc96fc61ca595404b10026f4" />
    <add key="virgil:ServicePublicKeyDerBase64" value="MCowBQYDK2VwAyEA8jJqWY5hm4tvmnM6QXFdFCErRCnoYdhVNjFggffSCoc=" />
    <add key="mailinator:AuthToken" value="%MAILINATOR_ACCESS_TOKEN%" />
    <add key="mailinator:APIUrl" value="https://api.mailinator.com/api/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>